<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dhm.com.dhmshop">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".view.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/TranslucentTheme"
        tools:replace="android:theme">
        <activity android:name=".view.main.SearchActivity"></activity>
        <activity android:name=".view.mine.AddaddrActivity" />
        <activity android:name=".view.mine.AddressActivity" />
        <activity android:name=".view.mine.AboutActivity" />
        <activity android:name=".view.mine.SettingActivity" />
        <activity android:name=".view.main.ReSetActivity" />
        <activity android:name=".view.main.ForgetPwdActivity" />
        <activity android:name=".view.main.RegistActivity" />
        <activity android:name=".view.welcome.WelcomeActivity" />
        <activity android:name=".view.main.MainActivity" />
        <activity android:name=".view.main.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>